@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">It be like that sometimes</h1>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Watch a cool video</a>.</p>
</div>
