@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Teren can lick his own balls and then die due to a broken spine.</h1>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Watch a cool video</a>.</p>
</div>
